DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="change-me-in-dev"
NEXTAUTH_URL="http://localhost:3000"
PAYSTACK_SECRET_KEY="sk_test_xxx"
PAYSTACK_PUBLIC_KEY="pk_test_xxx"
PAYSTACK_WEBHOOK_SECRET="whsec_xxx"
COMMISSION_PRODUCT_BPS=800
COMMISSION_SERVICE_BPS=1000
ESCROW_RELEASE_HOURS=72
